<nav class=" #fafafa grey lighten-5">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger #004d40 teal-text text-darken-4"><i
            class="material-icons">menu</i></a>
    <div style="" class="nav-wrapper container #fafafa grey lighten-5">
        <a href="/" class="brand-logo #004d40 teal-text text-darken-4">Disclosure</a>
        <form method="POST" action="/search">
            <div id="nav-mobile" class="searchBar right hide-on-med-and-down">
                <input required type="text" id="searchQuery" name="searchQuery" placeholder="search" class=" #006064 cyan-text text-darken-4">
                <button type="submit" name="action" style="border:none;background:none;" class="  "><i
                        class="material-icons ">search</i>
                </button>
            </div>
        </form>
    </div>
</nav>

<div class="sidenav" id="mobile-demo">
    <form method="POST" action="/search">
        <div style="display:flex;flex-direction:row;width:200px;" class=" container">
            <input type="text" name="searchQuery" placeholder="search" class=" #006064 cyan-text text-darken-4">
            <button type="submit" name="action" style="border:none;background:none;" class="  "><i
                    class="material-icons ">search</i>
            </button>
        </div>
    </form>
    
</div>



<div class="container ">

    <h4 style="font-weight: bold; font-family:Georgia, 'Times New Roman', Times, serif;"
        class="#004d40 teal-text text-darken-4"><span class="ec ec-zap "></span> Popular Categories</h4>

    <div class="col s12" style="width:100%;overflow:auto;white-space:nowrap;">

        <a style="display:inline-block;width:25%;" class=" col s12" href="/sports">

            <div class="z-depth-2 sports-categories-box card-panel  hoverable col s12  ">
                <p style="font-weight: bold;font-style:oblique;" class="center  #fafafa grey-text text-lighten-5">Sports
                </p>
            </div>

        </a>

        <a style="display:inline-block;width:25%" class=" col s6" href="/technology">

            <div style="" class="z-depth-2 tech-category-box card-panel hoverable col s6  ">
                <p style="font-weight: bold;font-style:oblique;" class="center  #fafafa grey-text text-lighten-5">
                    Technology</p>
            </div>

        </a>

        <a style="display:inline-block;width:25%" class=" col s6" href="/business">

            <div class="z-depth-2 busi-category-box card-panel hoverable col s6  ">
                <p style="font-weight: bold;font-style:oblique;" class="center  #fafafa grey-text text-lighten-5">
                    Business</p>
            </div>

        </a>

        <a style="display:inline-block;width:25%" class=" col s6" href="/entertainment">

            <div class="z-depth-2 ent-category-box card-panel hoverable col s6  ">
                <p style="font-weight: bold;font-style:oblique;" class="center  #fafafa grey-text text-lighten-5">
                    Entertainment</p>
            </div>

        </a>

        <a style="display:inline-block;width:25%" class=" col s6" href="/science">

            <div class="z-depth-2 sci-category-box card-panel hoverable col s6  ">
                <p style="font-weight: bold;font-style:oblique;" class="center  #fafafa grey-text text-lighten-5">
                    Science</p>
            </div>

        </a>

        <a style="display:inline-block;width:25%" class=" col s6" href="/health">

            <div class="z-depth-2 health-category-box card-panel hoverable col s6  ">
                <p style="font-weight: bold;font-style:oblique;" class="center  #fafafa grey-text text-lighten-5">Health
                </p>
            </div>

        </a>


    </div>


    <h4 style="font-weight: bold; font-family:Georgia, 'Times New Roman', Times, serif;"
        class="#004d40 teal-text text-darken-4"><span class="ec ec-fire"></span> Top News
    </h4>

    <div class="col s12">
        <div class="card medium horizontal #263238 blue-grey darken-4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" alt="image" src="{{firstNews.urlToImage}}">
            </div>
            <div class="card-stacked">
                <div style="display: flex;align-items:center;" class="card-content">
                    <span style="font-size:1.5rem;font-weight:bold;"
                        class=" activator   #eceff1 blue-grey-text text-lighten-5">{{firstNews.title}}</span>
                </div>
                <div class="card-action">
                    <a class="source-text  #64ffda teal-text text-accent-2" href="{{firstNews.url}}"
                        target=".blank">{{firstNews.source.name}}</a>
                </div>
            </div>
            <div class="card-reveal #263238 blue-grey darken-4">
                <span style="font-size:1.5rem;font-weight:bold;"
                    class="card-title #64ffda teal-text text-accent-2">{{{firstNews.title}}}<i
                        class="material-icons right">close</i></span>
                <p style="font-size:1rem;" class="#eceff1 blue-grey-text text-lighten-5">{{{firstNews.description}}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        {{#each getNews}}
        <div class="col s12 m4">
            <div class="card medium vertical hoverable  #263238 blue-grey darken-4">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" alt="image" src="{{{this.urlToImage}}}">
                </div>
                <div class="card-content">
                    <span style="font-size:1rem;font-weight:bold;"
                        class=" activator   #eceff1 blue-grey-text text-lighten-5">{{this.title}}</span>
                </div>
                <div class="card-action">
                    <a class="source-text  #64ffda teal-text text-accent-2" href="{{this.url}}"
                        target=".blank">{{this.source.name}}</a>
                </div>
                <div class="card-reveal #263238 blue-grey darken-4">
                    <span style="font-size:1.2rem;font-weight:bold;"
                        class="card-title #64ffda teal-text text-accent-2">{{{this.title}}}<i
                            class="material-icons right">close</i></span>
                    <p style="font-size:1rem;" class="#eceff1 blue-grey-text text-lighten-5">{{{this.description}}}
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>



<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });

</script>
